[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "uvicorn app.main:app --reload"

[packages]
fastapi = "==0.135.3"
uvicorn = "==0.44.0"
psycopg2 = "==2.9.11"
pgvector = "==0.4.2"
sentence-transformers = "==5.4.0"
beautifulsoup4 = "==4.14.3"
python-dotenv = "==1.2.2"
requests = "==2.33.1"

[dev-packages]
ruff = "==0.15.10"
pytest = "==9.0.3"

[requires]
python_version = "3.10"
